@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@445&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}
